

        <div class="w3-sidebar w3-light-grey w3-bar-block">
            <a class="w3-bar-item w3-button" [routerLinkActive]="['link-active']" [routerLink]="['/functions/my-bills']">My bills</a>
            <a class="w3-bar-item w3-button" [routerLinkActive]="['link-active']" [routerLink]="['/functions/add-bill']">Add bill</a>
            <a class="w3-bar-item w3-button" [routerLinkActive]="['link-active']" [routerLink]="['/functions/diagrams']">Diagrams</a>
            <a class="w3-bar-item w3-button" [routerLinkActive]="['link-active']" [routerLink]="['/functions/budget']">Budget</a>
            <a class="w3-bar-item w3-button" [routerLinkActive]="['link-active']" [routerLink]="['/functions/my-account']">My account</a>
        </div>    
        <div style="margin-left:15%;">
        
            
            <div class="w3-container">
            <h2>Sidebar Navigation Example</h2>
            
            <router-outlet></router-outlet>

            </div>
            
            </div>