

        <div class="w3-sidebar  w3-bar-block">
            <a class="w3-bar-item w3-button" [routerLinkActive]="['link-active']" [routerLink]="['/functions/my-bills']"><i class="fa fa-list " aria-hidden="true"></i>Moje paragony </a>
            <a class="w3-bar-item w3-button" [routerLinkActive]="['link-active']" [routerLink]="['/functions/add-bill']"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Dodaj paragon </a>
            <a class="w3-bar-item w3-button" [routerLinkActive]="['link-active']" [routerLink]="['/functions/categories']"><i class="fa fa-pencil fa-fw"></i>Kategorie</a>
            <a class="w3-bar-item w3-button" [routerLinkActive]="['link-active']" [routerLink]="['/functions/diagrams']"><i class="fa fa-bar-chart-o" aria-hidden="true"></i>Statystyki</a>
            <a class="w3-bar-item w3-button" [routerLinkActive]="['link-active']" [routerLink]="['/functions/budget']"><i class="fa fa-money" aria-hidden="true"></i>Budżety </a>
        </div>    
        <div style="margin-left:15%;">
        
            
            <div class="w3-container">
            <h2>Sidebar Navigation Example</h2>
            
            <router-outlet></router-outlet>

            </div>
            
            </div>