

            <div class="content">
              <div class="col">
                <p id="h2" style="font-family: 'Amatic SC', cursive; font-size: 80px;">Budżet</p>
                <form [formGroup]="firstFormGroup" #form="ngForm" (ngSubmit)="onSubmit()">
                   <!-- WALIDACJE -->
                  
                  <div  class="form-row align-items-center" style="margin-top: 5%;">
                     <div *ngIf="firstFormGroup.get('firstCtrlQuantity').invalid && (firstFormGroup.get('firstCtrlQuantity').dirty || firstFormGroup.get('firstCtrlQuantity').touched)" class="alert alert-danger">
                      <div *ngIf="firstFormGroup.get('firstCtrlQuantity').errors.required!">Budżet jest wymagany.</div>
                      <div *ngIf="firstFormGroup.get('firstCtrlQuantity').errors.min!">Budżet nie może być ujemny.</div>
                      <div *ngIf="firstFormGroup.get('firstCtrlQuantity').errors.pattern!">Budżet musi być liczbą.</div>
                     </div> 
                    <div class="col-auto">
                    <input type="text" class="form-control mb-2"  id="inlineFormInput"  formControlName="firstCtrlQuantity" placeholder="Budżet Ogółem"  [(ngModel)]="budget.quantity">
                    </div>
                    <div class="form-row align-items-center" style="margin-left: 3%;"> 
                      <label>Od</label> 
                      <div class="col-auto">
                        <input type="date" class="form-control mb-2" id="inlineFormInput3"  formControlName="firstCtrlFromDate" placeholder="Date"  [(ngModel)]="budget.fromDate"> 
                      </div>
                      <label>Do</label> 
                      <div class="col-auto">
                        <input type="date" class="form-control mb-2" id="inlineFormInput3"  formControlName="firstCtrlToDate" placeholder="Date"  [(ngModel)]="budget.toDate"> 
                      </div>
                    </div>
                    
                    <button mdbBtn type="button" class="button2" color="unique" style="border-radius: 50px; margin-left: 3%; width: 150px;" mdbWavesEffect [disabled]="!firstFormGroup.valid" (click)="addNewBudget()">Dodaj</button>
            
                  </div>
                  
            
                </form>

                <div class="mat-elevation-z8" style="text-align: center;"> 
                  <table mat-table [dataSource]="dataSource">
                
                    <ng-container matColumnDef="fromDate">
                      <th mat-header-cell *matHeaderCellDef> Od </th>
                      <td mat-cell *matCellDef="let element"> {{element.fromDate | slice:0:10}} </td>
                    </ng-container> 
                
                    <ng-container matColumnDef="toDate">
                      <th mat-header-cell *matHeaderCellDef> Do </th>
                      <td mat-cell *matCellDef="let element"> {{element.toDate | slice:0:10}} </td>
                    </ng-container> 

                    <ng-container matColumnDef="quantity">
                      <th mat-header-cell *matHeaderCellDef> Budżet </th>
                      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                    </ng-container> 

                    <ng-container matColumnDef="functions">
                      <th mat-header-cell *matHeaderCellDef>  </th>
                      <td mat-cell *matCellDef="let element"><button type="submit" mdbBtn   color="blue-grey" style="border-radius: 50px;" mdbWavesEffect style="margin: 4px;" (click)="open(content)">Usuń</button>
                        <ng-template #content let-modal>
                          <div class="modal-header">
                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form>
                              <div class="row">    
                                <div class="col-md-12">    
                                    <p class="text-center confirm-message">Jesteś pewny, że chcesz usunąć budżet?</p>    
                                </div>    
                            </div> 
                              <div class="row">    
                                <div class="col-md-12">    
                                    <p class="confirm-button">    
                                        <a class="mr-2" >    
                                            <button class="btn btn-yes" type="submit" mdbBtn   color="pink" style="border-radius: 50px;" mdbWavesEffect (click)="delete(element.id); modal.close()">Tak</button>    
                                        </a>    
                                        <a >    
                                            <button class="btn btn-no" type="submit" mdbBtn   color="deep-purple" style="border-radius: 50px;" mdbWavesEffect (click)="modal.close('Save click')">Nie</button>    
                                        </a>    
                                    </p>    
                                </div>    
                            </div>    
              
                            </form>
                          </div>
                        </ng-template> </td>
                    </ng-container> 
                    
                    <tr mat-header-row  *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"> </tr> 
                    
                  </table> 
                
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>

              </div>
            
            
            </div>
            