<div class="addbill">
    <div class="photo">
        <div class="col-4`">
            <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01">
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
              </div>
              
        </div>
    </div>
        
        <div class="col">
            <p id="h2">Enter the data from the bill</p>
            <form [formGroup]="firstFormGroup" #form="ngForm" (ngSubmit)="onSubmit()">
                <div class="one">
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                          <label class="sr-only" for="inlineFormInput">Name</label>
                          <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Shop">
                        </div>
                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInput">Name</label>
                            <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="City">
                          </div>
                          <div class="col-auto">
                            <label class="sr-only" for="inlineFormInput">Name</label>
                            <input type="date" class="form-control mb-2" id="inlineFormInput" placeholder="Date">
                          </div>
                    </div>
                </div>
                
                <div class="two">
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                          <label class="sr-only" for="inlineFormInput">Name</label>
                          <input type="text" class="form-control mb-2" formControlName="firstCtrl" [(ngModel)]="model.Name" id="inlineFormInput" placeholder="Product">
                        </div>
                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInput">Name</label>
                            <input type="text" class="form-control mb-2" formControlName="firstCtrl" [(ngModel)]="model.Category" id="inlineFormInput" placeholder="Category">
                          </div>
                          <div class="col-auto">
                            <label class="sr-only" for="inlineFormInput">Name</label>
                            <input type="text" class="form-control mb-2" formControlName="firstCtrl" [(ngModel)]="model.Amount" id="inlineFormInput" placeholder="Amount">
                          </div>
                          <div class="col-auto">
                            <label class="sr-only" for="inlineFormInput">Name</label>
                            <input type="text" class="form-control mb-2" formControlName="firstCtrl" [(ngModel)]="model.Price" id="inlineFormInput" placeholder="Price">
                          </div>
                       
                        <div class="col-auto">
                          <button type="submit" class="btn btn-primary mb-2" (click)="newProduct(); form.reset()">Add</button>
                        </div>
                    </div>
                </div>

                <table class="table table-striped" >
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Product</th>
                        <th scope="col">Category</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let model of Products">
                        <th scope="row">{{model.id}}</th>
                        <td>{{model.Name}}</td>
                        <td>{{model.Category}}</td>
                        <td>{{model.Amount}}</td>
                        <td>{{model.Price}}</td>
                      </tr>
                    </tbody>
                  </table>
            </form>
        </div>
</div>