<div class="addbill"> 
        
        <div class="col">
            <p id="h2" style="font-family: 'Amatic SC', cursive; font-size: 70px;">Wprowadź dane z paragonu</p>
            <form [formGroup]="firstFormGroup" #form="ngForm" (ngSubmit)="onSubmit()">
                 
                <div class="one">
                  <!-- WALIDACJE -->
                   <div *ngIf="firstFormGroup.get('firstCtrlShop').invalid && (firstFormGroup.get('firstCtrlShop').dirty || firstFormGroup.get('firstCtrlShop').touched)" class="alert alert-danger">
                    <div *ngIf="firstFormGroup.get('firstCtrlShop').errors.required!">Nazwa sklepu jest wymagana.</div>
                    <div *ngIf="firstFormGroup.get('firstCtrlShop').errors.pattern!">Od 1 do 3 słów.</div>
                   </div>

                   <div *ngIf="firstFormGroup.get('firstCtrlCity').invalid && (firstFormGroup.get('firstCtrlCity').dirty || firstFormGroup.get('firstCtrlCity').touched)" class="alert alert-danger">
                    <div *ngIf="firstFormGroup.get('firstCtrlCity').errors.required!">Nazwa miejscowości jest wymagana.</div>
                    <div *ngIf="firstFormGroup.get('firstCtrlCity').errors.pattern!">Od 1 do 3 słów.</div>
                   </div> 
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                          <input type="text" class="form-control mb-2" id="inlineFormInput1"  formControlName="firstCtrlShop" placeholder="Sklep"  [(ngModel)]="bill.shop">
                        </div>
                        <div class="col-auto">
                          <input type="text" class="form-control mb-2" id="inlineFormInput2"  formControlName="firstCtrlCity" placeholder="Miejscowość" [(ngModel)]="bill.city">
                        </div>
                        <div class="col-auto">
                          <input type="date" class="form-control mb-2" id="inlineFormInput3"  formControlName="firstCtrlDate" placeholder="Date" [(ngModel)]="bill.date"> 
                        </div>
                        <button type="submit" class="button2" mdbBtn type="button" color="elegant" style="border-radius: 20px;" mdbWavesEffect [disabled]="!firstFormGroup.valid" (click)="newBill()">Zapisz paragon</button>

                    </div>
                </div>
              </form>
                
            <form [formGroup]="secondFormGroup" #form="ngForm" (ngSubmit)="onSubmit()">

                <div class="two">
                  <!-- WALIDACJE -->
                   <div *ngIf="secondFormGroup.get('secondCtrlName').invalid && (secondFormGroup.get('secondCtrlName').dirty || secondFormGroup.get('secondCtrlName').touched)" class="alert alert-danger">
                    <div *ngIf="secondFormGroup.get('secondCtrlName').errors.required!">Nazwa miejscowości jest wymagana.</div>
                    <div *ngIf="secondFormGroup.get('secondCtrlName').errors.pattern!">Od 1 do 5 słów.</div>
                   </div> 
                     <div *ngIf="secondFormGroup.get('secondCtrlAmount').invalid && (secondFormGroup.get('secondCtrlAmount').dirty || secondFormGroup.get('secondCtrlAmount').touched)" class="alert alert-danger">
                    <div *ngIf="secondFormGroup.get('secondCtrlAmount').errors.required!">Ilość jest wymagana.</div>
                    <div *ngIf="secondFormGroup.get('secondCtrlAmount').errors.min">Ilość nie może być ujemna.</div>
                   </div> 
                   <div *ngIf="secondFormGroup.get('secondCtrlPrice').invalid && (secondFormGroup.get('secondCtrlPrice').dirty || secondFormGroup.get('secondCtrlPrice').touched)" class="alert alert-danger">
                    <div *ngIf="secondFormGroup.get('secondCtrlPrice').errors.required!">Cena jest wymagana.</div>
                    <div *ngIf="secondFormGroup.get('secondCtrlPrice').errors.min!">Cena nie może być ujemna.</div>
                   </div> 

                    <div class="form-row align-items-center">
                        <div class="col-auto">
                          <label class="sr-only" for="inlineFormInput">Name</label>
                          <input type="text" class="form-control mb-2" formControlName="secondCtrlName" [(ngModel)]="model.name" id="inlineFormInput" placeholder="Produkt">
                        </div>
                        <div class="col-auto">
                          <select class="form-control mb-2" required formControlName="secondCtrlCategory" [(ngModel)]="model.categoryId" id="inlineFormInput" placeholder="Kategoria" name="category">
                            <option *ngFor="let e of lis" [value]="e.id">{{e.name}}</option>

                          </select>
                            <!-- <label class="sr-only" for="inlineFormInput">Name</label>
                            <input type="number" class="form-control mb-2" formControlName="secondCtrlCategory" [(ngModel)]="model.category" id="inlineFormInput" placeholder="Category"> -->
                          </div>
                          
                          <div class="col-auto">
                            <label class="sr-only" for="inlineFormInput">Name</label>
                            <input type="number" class="form-control mb-2" formControlName="secondCtrlAmount" [(ngModel)]="model.amount" id="inlineFormInput" placeholder="Ilość">
                          </div>
                          <div class="col-auto">
                            <label class="sr-only" for="inlineFormInput">Name</label>
                            <input type="number" class="form-control mb-2" formControlName="secondCtrlPrice" [(ngModel)]="model.price" id="inlineFormInput" placeholder="Cena jednostkowa">
                          </div>
                       
                          <button mdbBtn type="button" class="button2" color="unique" style="border-radius: 20px;" [disabled]="!secondFormGroup.valid" mdbWavesEffect (click)="newProduct()">Dodaj produkt</button>

                    </div>
                </div>
                <div class="mat-elevation-z8" style="text-align: center;"> 
                  <table mat-table [dataSource]="dataSource">
                
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Produkt </th>
                      <td mat-cell *matCellDef="let element"> {{element.name }} </td>
                    </ng-container> 
                
                    <ng-container matColumnDef="categoryName">
                      <th mat-header-cell *matHeaderCellDef> Kategoria </th>
                      <td mat-cell *matCellDef="let element"> {{getCategoryName(element.categoryId).name}} </td>
                    </ng-container> 
                
                     <ng-container matColumnDef="amount">
                      <th mat-header-cell *matHeaderCellDef> Ilość </th>
                      <td mat-cell *matCellDef="let element"> {{element.amount | number : '1.0-2'}} </td>
                    </ng-container> 
    
                    <ng-container matColumnDef="price">
                      <th mat-header-cell *matHeaderCellDef> Cena jednostkowa </th>
                      <td mat-cell *matCellDef="let element"> {{element.price | number : '1.0-2'}} </td>
                    </ng-container> 
                    
                    <ng-container matColumnDef="totalPrice">
                      <th mat-header-cell *matHeaderCellDef> Cena </th>
                      <td mat-cell *matCellDef="let element"> {{element.amount! * element.price! | number : '1.0-2'}} </td>
                    </ng-container> 
                    
                <ng-container matColumnDef="functions">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element"> <button type="submit" mdbBtn   color="blue-grey" style="border-radius: 20px;" mdbWavesEffect style="margin: 4px;" (click)="delete(element.id)">Usuń</button></td>
                </ng-container> 
                    
                    <tr mat-header-row  *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
                    
                  </table> 
                
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>


                
                </form>
        </div>
</div>