<div class="addbill">
      
      <div class="col">
          <p id="h2" style="font-family: 'Amatic SC', cursive; font-size: 80px;">Szczegóły paragonu</p>
          <form [formGroup]="firstFormGroup" #form="ngForm" (ngSubmit)="onSubmit()">
              <div class="one">
                  <div class="form-row align-items-center">
                      <div class="col-auto">
                        <input type="text" class="form-control mb-2" id="inlineFormInput1"  formControlName="firstCtrlShop" placeholder="Sklep"  [(ngModel)]="bill.shop" readonly>
                      </div>
                      <div class="col-auto">
                        <input type="text" class="form-control mb-2" id="inlineFormInput2"  formControlName="firstCtrlCity" placeholder="Miejscowość" [(ngModel)]="bill.city" readonly>
                      </div>
                      <div class="col-auto">
                        <input type="date" class="form-control mb-2" id="inlineFormInput3"  formControlName="firstCtrlDate" placeholder="Date" [(ngModel)]="bill.date" readonly> 
                      </div>

                  </div>
              </div>
            </form>

            
          <div class="two">
            <div class="mat-elevation-z8" style="text-align: center;"> 
              <table mat-table [dataSource]="dataSource">
            
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Produkt </th>
                  <td mat-cell *matCellDef="let element"> {{element.name }} </td>
                </ng-container> 
            
                <ng-container matColumnDef="categoryName">
                  <th mat-header-cell *matHeaderCellDef> Kategoria </th>
                  <td mat-cell *matCellDef="let element"> {{getCategoryName(element.categoryId).name}} </td>
                </ng-container> 
            
                 <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef> Ilość </th>
                  <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                </ng-container> 

                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef> Cena jednostkowa </th>
                  <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                </ng-container> 
                
                <ng-container matColumnDef="totalPrice">
                  <th mat-header-cell *matHeaderCellDef> Cena </th>
                  <td mat-cell *matCellDef="let element"> {{element.amount! * element.price! | number : '1.0-2'}} </td>
                </ng-container> 

                
                <tr mat-header-row  *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
                
              </table> 
            
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>



              <!-- <table class="table table-striped" style="text-align: center;">
                <thead>
                  <tr>
                    <th scope="col">Produkt</th>
                    <th scope="col">Kategoria</th>
                    <th scope="col">Ilość</th>
                    <th scope="col">Cena jednostkowa</th>
                    <th scope="col">Cena</th>

                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let model of Products">
                    <td>{{model.name}}</td>
                    <td>{{getCategoryName(model.categoryId).name}}</td>
                    <td>{{model.amount | number : '1.0-2'}}</td>
                    <td>{{model.price | number : '1.0-2'}}</td>
                    <td>{{model.amount! * model.price! | number : '1.0-2'}}</td>

                  </tr>
                </tbody>
              </table> -->
            </div>
                      <div class="wrapper2">
                  <button type="submit" mdbBtn class="button2"  color="elegant"  mdbWavesEffect style="width: 200px; margin:0 auto;" [routerLinkActive]="['link-active']" [routerLink]="['/functions/my-bills']">Powrót</button>

                      </div>   

      </div>
</div>