<div class="content">
        
        <div class="col">
            <p id="h2" style="font-family: 'Amatic SC', cursive; font-size: 70px;">Moje kategorie</p>
                
            <form style="margin: 0 auto;"[formGroup]="firstFormGroup" #form="ngForm" (ngSubmit)="onSubmit()">

                <div class="two" style="margin-left: 5%;">
                   <div *ngIf="firstFormGroup.get('firstCtrlName').invalid && (firstFormGroup.get('firstCtrlName').dirty || firstFormGroup.get('firstCtrlName').touched)" class="alert alert-danger">
                    <div *ngIf="firstFormGroup.get('firstCtrlName').errors.required!">Nazwa kategorii jest wymagana.</div>
                    <div *ngIf="firstFormGroup.get('firstCtrlName').errors.pattern!">Od 1 do 3 słów.</div>
                   </div> 
                   <div *ngIf="firstFormGroup.get('firstCtrlDesc').invalid && (firstFormGroup.get('firstCtrlDesc').dirty || firstFormGroup.get('firstCtrlDesc').touched)" class="alert alert-danger">
                    <div *ngIf="firstFormGroup.get('firstCtrlDesc').errors.required!">Opis kategorii jest wymagana.</div>
                    <div *ngIf="firstFormGroup.get('firstCtrlDesc').errors.pattern!">Od 1 do 5 słów, tylko litery.</div>
                   </div> 
                    <div class="d-flex justify-content-center" style="margin: 0 auto;">
                        
                          <div class="col-auto">
                            <input type="text" class="form-control mb-2"id="inlineFormInput1"  formControlName="firstCtrlName" placeholder="Kategoria"  [(ngModel)]="category.name">
                          </div>
                                
                          <div class="col-auto">
                            <input type="text" class="form-control mb-2" id="inlineFormInput" formControlName="firstCtrlDesc" placeholder="Opis"  [(ngModel)]="category.description">
                          </div>
                       
                          <div class="col-auto">
                            <button type="submit" data-toggle="tooltip" data-placement="top" title="Disabled tooltip" mdbBtn type="button" style="pointer-events: none;" class="button2" color="unique" style="border-radius: 50px; width: 150px;" mdbWavesEffect [disabled]="!firstFormGroup.valid" (click)="addNewCategory()">Dodaj</button>
                         
                        </div>
                    </div>
                </div>


                <div class="mat-elevation-z8" style="text-align: center;"> 
                  <table mat-table [dataSource]="dataSource">
                
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Kategoria </th>
                      <td mat-cell *matCellDef="let element"> {{element.name }} </td>
                    </ng-container> 
                
                    <ng-container matColumnDef="description"> 
                      <th mat-header-cell *matHeaderCellDef> Opis </th>
                      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                    </ng-container> 
                    
                    <tr mat-header-row  *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
                    
                  </table> 
                
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>

                <!-- <table class="table table-striped" style="width: 70%; margin: 0 auto; margin-top: 5%; text-align: center;">
                    <thead>
                      <tr>
                        <th scope="col">Kategoria</th>
                        <th scope="col">Opis</th>


                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let e of lis">
                        <td>{{e.name}}</td>
                        <td>{{e.description}}</td>

                      </tr>
                    </tbody>
                  </table> -->
                </form>
        </div>
</div>