<div class="content">
        
        <div class="col">
            <p id="h2">Twoje kategorie</p>
                
            <form style="margin: 0 auto;"[formGroup]="firstFormGroup" #form="ngForm" (ngSubmit)="onSubmit()">

                <div class="two" style="margin-left: 5%;">
                    <div class="d-flex justify-content-center" style="margin: 0 auto;">
                        
                          <div class="col-auto">
                            <input type="text" class="form-control mb-2"id="inlineFormInput1"  formControlName="firstCtrlName" placeholder="Kategoria"  [(ngModel)]="category.name">
                          </div>
                          <div class="col-auto">
                            <input type="text" class="form-control mb-2" id="inlineFormInput" formControlName="firstCtrlDesc" placeholder="Opis"  [(ngModel)]="category.description">
                          </div>
                       
                          <div class="col-auto">
                            <button type="submit"mdbBtn type="button" class="button2" color="unique" style="border-radius: 50px; width: 150px;" mdbWavesEffect (click)="addNewCategory()">Dodaj</button>
                          </div>
                    </div>
                </div>

                <table class="table table-striped" style="width: 70%; margin: 0 auto; margin-top: 5%; text-align: center;">
                    <thead>
                      <tr>
                        <th scope="col">Kategoria</th>
                        <th scope="col">Opis</th>


                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let e of lis">
                        <td>{{e.name}}</td>
                        <td>{{e.description}}</td>

                      </tr>
                    </tbody>
                  </table>
                </form>
        </div>
</div>