<div style="width:80%; margin-left: 10%; margin-top: 3%;"> 
  
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Bieżący okres</a>
    <ng-template ngbNavContent>
      <div style=" margin-left: 3%; margin-top: 3%;">
        <label>Budżet ogółem</label> 
        <p><ngb-progressbar type="success" [value]="75" [striped]="true" [animated]="true" style="width:40%;"><i>50%</i></ngb-progressbar></p>
      </div>
      
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Zakres</a>
    <ng-template ngbNavContent>
      <div style="width:40%; display: flex; margin-left: 3%; margin-top: 3%;">
        <label>Od</label> 
        <div class="col-auto">
          <input type="date" class="form-control mb-2" id="inlineFormInput3" placeholder="Date"> 
        </div>
        <label>Do</label> 
        <div class="col-auto">
          <input type="date" class="form-control mb-2" id="inlineFormInput3"  placeholder="Date"> 
        </div>

      </div>
     

    </ng-template>
  </li>
  
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

</div>
