

<div class="content">
  <div style="margin-left: 3%; margin-top: 2%;"> 
  
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Historia</a>
        <ng-template ngbNavContent>
            <ngx-charts-line-chart
              [scheme]="colorScheme"
              [legend]="legend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxis]="xAxis"
              [yAxis]="yAxis"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              [timeline]="timeline"
              [results]="chart"
              >
            </ngx-charts-line-chart>

            <div style="width:100%;  " class="form-row align-items-center" >
              <form [formGroup]="firstFormGroup" #form="ngForm" (ngSubmit)="onSubmit()" class="form-row align-items-center">
                <div class="d-flex justify-content-center" >
                  <label>Od</label> 
                  <div class="col-auto">
                    <input type="date" class="form-control mb-2" formControlName="ctrlDateFrom" id="formFilterDateFrom" placeholder="Date" [(ngModel)]="rangeDate.dateFrom"> 
                  </div>
                  <label>Do</label> 
                  <div class="col-auto">
                    <input type="date" class="form-control mb-2" formControlName="ctrlDateTo" id="formFilterDateTo" placeholder="Date" [(ngModel)]="rangeDate.dateTo"> 
                  </div>
                  <div class="col-auto">
                    <button mdbBtn type="button" class="button2" color="unique" style="border-radius: 50px; margin-left: 3%; width: 150px;" mdbWavesEffect >Filtruj</button>

                  </div>
                </div>
                  
                </form>
            </div>
    
            <table class="table table-striped" style="margin-top: 2%;">
              <thead>
                <tr>
                  <th scope="col">Od</th>
                  <th scope="col">Do</th>
                  <th scope="col">Budżet</th>
                  <th scope="col">Wydana kwota</th>
                  <th scope="col">Pozostała kwota</th>
                  <th scope="col"></th>
                  <th scope="col"></th>

    
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let e of lisStatistic; index as i;" >
                  <td>{{e.fromDate | slice:0:10}}</td>
                  <td>{{e.toDate | slice:0:10}}</td>
                  <td>{{e.quantity }}</td>
                  <td>{{e.price}}</td>
                  <td>{{e.saveMoney }}</td>
                  <td><p><ngb-progressbar type="success" [value]="((e.price!)*100)!/e.quantity!" [striped]="true" [animated]="true" ><i>{{((e.price!)*100)!/e.quantity!}}</i></ngb-progressbar></p></td>
                  <td><button type="submit" mdbBtn   color="blue-grey" style="border-radius: 50px;" mdbWavesEffect style="margin: 4px;" [routerLinkActive]="['link-active']" [routerLink]="['/functions/diagrams/detail', e.id]">Szczegóły</button></td>
                </tr>
              </tbody>
            </table>
    
        </ng-template>
      </li>

      <li [ngbNavItem]="2">
        <a ngbNavLink>Bieżący okres</a>
        <ng-template ngbNavContent>

        
          <label>Wydana kwota</label> 
            <p><ngb-progressbar type="success" [value]="((lisStatistic[0].price!)*100)!/lisStatistic[0].quantity!" [striped]="true" [animated]="true" ><i>{{((lisStatistic[0].price!)*100)!/lisStatistic[0].quantity!}}</i></ngb-progressbar></p>
            
            <table class="table table-striped" style="margin-top: 5%;">
              <thead>
                <tr>
                  <th scope="col">Budżet</th>
                  <th scope="col">Wydana kwota</th>
                  <th scope="col">Pozostała kwota</th>
                  <th scope="col"></th>
    
                </tr>
              </thead>
              <tbody>
                <tr  >
                  <td>{{lisStatistic[0].quantity }}</td>
                  <td>{{lisStatistic[0].price}}</td>
                  <td>{{lisStatistic[0].saveMoney}}</td>
                  <td><button type="submit" mdbBtn   color="blue-grey" style="border-radius: 50px;" mdbWavesEffect style="margin: 4px;" [routerLinkActive]="['link-active']" [routerLink]="['/functions/diagrams/detail', lisStatistic[0].id]">Szczegóły</button></td>
                </tr>
              </tbody>
            </table>
            
    
         
    
        </ng-template>
      </li>
      
    </ul>
    
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
    
  </div>
 
  
</div>

