<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" (click)="onClickScroll('box')" href="#header" style="font-family: 'Amatic SC', cursive; font-size: 40px; margin-left: 5%; ">WalletBallance</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="margin-left: 2%;">
      <div class="navbar-nav">
        <!-- <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" (click)="onClickScroll('box')" href="#header" *ngIf="!hide()">Strona główna</a> -->
        <a class="nav-item nav-link"  (click)="onClickScroll('about')" href="#about" *ngIf="!hide()">O nas</a>
         <a class="nav-item nav-link"  [routerLinkActive]="['link-active']" [routerLink]="['/functions/my-bills']" *ngIf="hide()">Moje konto</a> 
       
      </div>
    </div>
    <a class="nav-item nav-link"  [routerLinkActive]="['link-active']" [routerLink]="['/user/login']" *ngIf="!hide()">Zaloguj </a>
    <a class="nav-item nav-link"  [routerLinkActive]="['link-active']" [routerLink]="['/user/registration']" *ngIf="!hide()">Zarejestruj </a>
    <button class="button1" (click)="onLogout()" *ngIf="hide()" style="float: right;">Wyloguj </button>
  </nav>