<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">WalletBallance</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a> -->
        <a class="nav-item nav-link" (click)="onClickScroll('about')" href="#about">O nas</a>
        <a class="nav-item nav-link"  [routerLinkActive]="['link-active']" [routerLink]="['/functions/my-bills']" *ngIf="hide()">Moje konto</a>
        <a class="nav-item nav-link"  [routerLinkActive]="['link-active']" [routerLink]="['/user/login']" *ngIf="!hide()">Zaloguj się</a>
        <a class="nav-item nav-link"  [routerLinkActive]="['link-active']" [routerLink]="['/user/registration']" *ngIf="!hide()">Zarejestruj się</a>
        <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()" *ngIf="hide()">Wyloguj </button>


      </div>
    </div>
  </nav>