<!doctype html>
<html lang="pl">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
</head>

<body>
        <header id="header">
                <div id="box">
                        <p id="h0">Hello,</p>
                        <p id="h0">We can help you control your wallet ballance</p>
                        <button class="button">Try now!</button>
                </div>
                        

        </header>

                <section class="section">
                        <div class="container">
                                <p id="h2">How it works?</p>

                                <div class="kolumna">
                                        <p id="h3">1</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae pulvinar eros. Nam porta euismod porta. 
                                                Aenean porttitor ante et ante ullamcorper rutrum non ultrices urna. Sed laoreet euismod accumsan. Nulla sed 
                                                felis dictum, fringilla nulla elementum, varius lacus. Sed nulla augue, molestie vitae scelerisque ultrices, 
                                                imperdiet sed arcu. Duis semper ac arcu nec hendrerit. Nullam vulputate mi ut orci mattis pharetra. Maecenas a 
                                                consectetur lectus. Aenean convallis purus egestas purus efficitur, eget consequat ligula vulputate. Aenean hendrerit, 
                                                purus quis commodo varius, enim felis porttitor dui, sit amet faucibus sem mi nec nibh. Aliquam sapien libero, feugiat
                                                id augue at, pellentesque aliquam ex.
                                        </p>
                                </div>
                                <div class="kolumna">
                                        <p id="h3">2</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae pulvinar eros. Nam porta euismod porta. 
                                                Aenean porttitor ante et ante ullamcorper rutrum non ultrices urna. Sed laoreet euismod accumsan. Nulla sed 
                                                felis dictum, fringilla nulla elementum, varius lacus. Sed nulla augue, molestie vitae scelerisque ultrices, 
                                                imperdiet sed arcu. Duis semper ac arcu nec hendrerit. Nullam vulputate mi ut orci mattis pharetra. Maecenas a 
                                                consectetur lectus. Aenean convallis purus egestas purus efficitur, eget consequat ligula vulputate. Aenean hendrerit, 
                                                purus quis commodo varius, enim felis porttitor dui, sit amet faucibus sem mi nec nibh. Aliquam sapien libero, feugiat
                                                id augue at, pellentesque aliquam ex.
                                        </p>
                                </div>
                                <div class="kolumna">
                                        <p id="h3">3</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae pulvinar eros. Nam porta euismod porta. 
                                                Aenean porttitor ante et ante ullamcorper rutrum non ultrices urna. Sed laoreet euismod accumsan. Nulla sed 
                                                felis dictum, fringilla nulla elementum, varius lacus. Sed nulla augue, molestie vitae scelerisque ultrices, 
                                                imperdiet sed arcu. Duis semper ac arcu nec hendrerit. Nullam vulputate mi ut orci mattis pharetra. Maecenas a 
                                                consectetur lectus. Aenean convallis purus egestas purus efficitur, eget consequat ligula vulputate. Aenean hendrerit, 
                                                purus quis commodo varius, enim felis porttitor dui, sit amet faucibus sem mi nec nibh. Aliquam sapien libero, feugiat
                                                id augue at, pellentesque aliquam ex.
                                        </p>
                                </div>

                                <div id="clear"></div>
                        </div>
        
                </section>
       

        <footer class="footer">
                <div class="container">
                        <p>&copy; Aleksandra Bodziacka, 2020. </p>

                </div>
        </footer>

</body>

</html>