<div class="row justify-content-md-center ">
        
    <div class="col">
        <p id="h2">Dane kategorii</p>

            <table class="table table-striped" style="width: 50%; margin: 0 auto; margin-top: 4%; text-align: center;">
                <thead>
                  <tr>
                    <th scope="col">Produkt</th>
                    <th scope="col">Ilość</th>
                    <th scope="col">Cena za proudukty</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let e of lisDiagCatDetails">
                    <td>{{e.name}}</td>
                    <td>{{e.amount}}</td>
                    <td>{{e.totalPrice}}</td>

                  </tr>
                </tbody>
               

              </table>
              <div class="wrapper2" style="margin-top: 5%;">
                <button type="submit" mdbBtn class="button2"  color="elegant" style="border-radius: 50px; width: 170px;" mdbWavesEffect  [routerLinkActive]="['link-active']" [routerLink]="['/functions/diagrams']">Powrót</button>

              </div>
    </div>
</div>