<div class="addbill">
    <div class="photo">
        <div class="col-4`">
            <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01">
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
              </div>
              
        </div>
    </div>
        
        <div class="col">
            <p id="h2">Wprowadź dane z paragonu</p>
            <form [formGroup]="firstFormGroup" #form="ngForm" (ngSubmit)="onSubmit()">
                <div class="one">
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                          <input type="text" class="form-control mb-2" id="inlineFormInput1"  formControlName="firstCtrlShop" placeholder="Sklep"  [(ngModel)]="bill.shop">
                        </div>
                        <div class="col-auto">
                          <input type="text" class="form-control mb-2" id="inlineFormInput2"  formControlName="firstCtrlCity" placeholder="Miejscowość" [(ngModel)]="bill.city">
                        </div>
                        <div class="col-auto">
                          <input type="date" class="form-control mb-2" id="inlineFormInput3"  formControlName="firstCtrlDate" placeholder="Date" [(ngModel)]="bill.date"> 
                        </div>
                        <button type="submit" class="btn btn-primary mb-2" style="margin: 4px;" (click)="save()">Zapisz paragon</button>

                    </div>
                </div>
              </form>
                
            <form [formGroup]="secondFormGroup" #form="ngForm" (ngSubmit)="onSubmit()">

                <div class="two">
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                          <label class="sr-only" for="inlineFormInput">Name</label>
                          <input type="text" class="form-control mb-2" formControlName="secondCtrlName" [(ngModel)]="model.name" id="inlineFormInput" placeholder="Produkt">
                        </div>
                        <div class="col-auto">
                          <select class="form-control mb-2" required formControlName="secondCtrlCategory" [(ngModel)]="model.categoryId" id="inlineFormInput" placeholder="Kategoria" name="category">

                            <option *ngFor="let e of lis" [value]="e.id">{{e.name}}</option>

                          </select>
                            <!-- <label class="sr-only" for="inlineFormInput">Name</label>
                            <input type="number" class="form-control mb-2" formControlName="secondCtrlCategory" [(ngModel)]="model.category" id="inlineFormInput" placeholder="Category"> -->
                          </div>

                         

                          
                          <div class="col-auto">
                            <label class="sr-only" for="inlineFormInput">Name</label>
                            <input type="number" class="form-control mb-2" formControlName="secondCtrlAmount" [(ngModel)]="model.amount" id="inlineFormInput" placeholder="Ilość">
                          </div>
                          <div class="col-auto">
                            <label class="sr-only" for="inlineFormInput">Name</label>
                            <input type="number" class="form-control mb-2" formControlName="secondCtrlPrice" [(ngModel)]="model.price" id="inlineFormInput" placeholder="Cena jednostkowa">
                          </div>
                       
                        <div class="col-auto">
                          <button type="submit" class="btn btn-primary mb-2" (click)="newProduct()">Dodaj produkt</button>
                        </div>
                    </div>
                </div>

                <table class="table table-striped" >
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Produkt</th>
                        <th scope="col">Kategoria</th>
                        <th scope="col">Ilość</th>
                        <th scope="col">Cena jednostkowa</th>
                        <th scope="col">Cena</th>
                        <th scope="col"></th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let model of Products; index as i;">
                        <th scope="row"></th>
                        <td>{{model.name}}</td>
                        <td>{{getCategoryName(model.categoryId).name}}</td>
                        <td>{{model.amount | number : '1.0-2'}}</td>
                        <td>{{model.price | number : '1.0-2'}}</td>
                        <td>{{model.amount! * model.price! | number : '1.0-2'}}</td>
                        <td><button type="submit" class="btn btn-primary mb-2" style="margin: 4px;" (click)="delete(i)">Usuń</button></td>

                      </tr>
                    </tbody>
                  </table>
      <button type="submit" class="btn btn-primary mb-2" [routerLinkActive]="['link-active']" [routerLink]="['/functions/my-bills']">Powrót</button>

                </form>

        </div>
</div>