*{
        margin:0;
        padding: 0;
        list-style: none;
        box-sizing: border-box;
        

}
html{
  scroll-behavior: smooth;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    
}
#header{
    min-height: 100vh;  
    background: url('background.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

}
#box{
    position: relative;
    top: 673px;
    left: 1114px;
    width: 764px;
    height: 116px;
    text-align: left;
    font: normal normal normal 50px/59px Lucida Bright;
    letter-spacing: 0px;
    color: #9A9487;
    background: none;
    opacity: 1;
}

.button{
    top: 819px;
    left: 1142px;
    width: 202px;
    height: 62px;
    background: #494136 0% 0% no-repeat padding-box;
    border: 2px solid #000000;
    border-radius: 25px;
    filter: blur(undefined);
    transition-duration: 0.4s;
    cursor: pointer;

    font: normal normal normal 29px/32px Lucida Bright;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.86;
    text-align: center;
    }

.button:hover {
    background-color: #ccd2d4;
    color: rgb(34, 29, 29);
    }
    #h0{
      color: white;
    }

  #h1{
      font-family: Comic Sans MS, Comic Sans, cursive;
      font-size: 53px;   
      text-shadow: 10px 10px #a19692;
      text-align: center;
      margin: 0;
      }
  #h2{
    margin-top: 100px;
    text-align: center;
    font: normal normal normal 80px/98px Lucida Bright;
    letter-spacing: 0px;
    color: #3A2A2A;
    text-shadow: 5px 3px 6px #a19692;
    opacity: 1;
  
  }

  #h3{
    margin-top: 70px;
    text-align: center;
    font: normal normal normal 60px/78px Lucida Bright;
    letter-spacing: 0px;
    color: #3A2A2A;
    text-shadow: 5px 3px 6px #a19692;
    opacity: 1;
  
  }
  .kolumna{
    float: left;
    margin: 10px;
    width: 30%;
    height: 650px;
    }
    
    #clear{
    clear: both;
    }

    .navbar{
      background-color: rgb(221, 220, 205);
      opacity: 0,8;
      width: 100%;
      position: fixed;
      z-index: 1;
    }
    .footer{
      text-align: center;
    }

    /* REGISTRATION */

  .register{
    margin: 0 auto;
    font-family: 'Crimson Text', serif;
  }

  input.form-control,input.form-control:focus{
    background-color: rgb(243, 239, 237);
    color: black;
    border-radius:10px; 
    width: 100%;
    float: center;
    margin: 0 auto;
  }
  input.form-control:focus{
    box-shadow: none;
  }
  
  button[type=submit].btn{
    border-radius:20px;
    background-color: #000000;
    color: #fff;
  }
  .form-group{ opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;}
  div.form-group label{
    color:black;
    font-weight: bold;
  }
  div.form-group.required>label:first-child:after{
    content: "*";
    color: #dc3545;
    padding-left: 2px;
  }
  #toast-container>div{
    opacity: 1;
  }
  form{
    margin:0px;
  }
  .row{
    padding: 10px 20px;
    margin-top: 10px; 
  }
  .containerTwo{
    background-color: darkgray;
    padding: 15px;
    border:2px solid black;
    border-radius: 2em;
    margin-top: 20%;
  }
  .container{
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
  }
  .form__field__error {
    color: #b80202;
    margin: .25rem 0;
    font-size: 12px;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    max-height: 30%;
    opacity: 0;
  }
  .form-control:invalid ~ .form__field__error {
    max-height: 40px;
    opacity: 1;
  }

 