<!doctype html>
<html lang="pl">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
</head>

<body>
        <header id="header">
                <div id="box" >
                        <p id="h0">Cześć,</p>
                        <p id="h0">Pomożemy Ci kontrolować Twój budżet</p>
                </div>
                        

        </header>

                <section class="section">

                        
                        <div class="container2" id="about">
                                <p id="h2" >Jak to działa?</p>

<div class="photos" style="margin-left: 10%; margin-top: 3%;">
        <div class="polaroid rotate_right">
        <p class="caption">Wprowadź dane z paragonu</p>
        <img [src]=myimage2 alt="Pulpit rock" width="384" height="313">

      </div>
      
      <div class="polaroid rotate_left">
        <p class="caption">Przeanalizuj statystyki</p>
        <img [src]=myimage1 alt="Monterosso al Mare" width="384" height="313">
      </div>

      <div class="polaroid center" style=" margin-left: 20%;">
        <img [src]=myimage3 alt="Pulpit rock"  width="384" height="313">
        <p class="caption">Ciesz się wzrostem oszczędności</p>
      </div>
</div>
                                

                              
                                <!-- <div class="kolumna">
                                        <p id="h3">1</p>
                                        <p class="tekst">Wprowadź dane z paragonu do aplikacji.
                                                <img [src]=myimage2>
                                        </p>
                                </div>
                                <div class="kolumna">
                                        <p id="h3">2</p>
                                        <p class="tekst">Lorem ipsum dolor s
                                        </p>
                                </div>
                                <div class="kolumna">
                                        <p id="h3">3</p>
                                        <p class="tekst">Ciesz się 
                                                <img [src]=myimage1>
                                        </p>
                                </div> -->

                                <div id="clear"></div>
                        </div> 
        
                </section>
       

        <footer class="footer">
                <div class="container" style="margin-top: 1%;">
                        <p>&copy; Aleksandra Bodziacka, 2021 </p>

                </div>
        </footer>

</body>

</html>